@-moz-document url-prefix("https://calendar.google") {
  #aso_search_form_anchor,
  .BWsMTe,
  .BYXlo,
  .NekIXe,
  .YqtBEc,
  .a0xMze,
  .gb_9d,
  .gb_ce,
  .p9lUpf,
  body {
    background-color: #111 !important;
  }
  .DyOaYd,
  .EmURbc,
  .FpmPAb,
  .HLI7qf,
  .J09ahd,
  .Lzfnue,
  .VmUiic,
  .gb_Xa:not(.gb_Za) .gb_Hd,
  .gb_de,
  .gssb_e,
  .jZ0DTb {
    background-color: #222 !important;
  }
  #gb > div,
  #gb > div > div {
    background-color: #222 !important;
  }
  .CCRNT,
  .I2LGc:hover,
  .VKy0Ic[aria-selected="true"],
  .VOEIyf .jBmls,
  .cnTo8e,
  .gHQcAb,
  .gb_Qe.gb_8e,
  .gssb_i,
  .ncFHed,
  .ncFHed .MocG8c.KKjvXb,
  .oKubKe[aria-selected="true"],
  .shdZ7e .mIZh1c,
  .xuBVOe,
  .z80M1.FwR7Pc {
    background-color: #333 !important;
  }
  .VKy0Ic[aria-selected="true"],
  .ncFHed .MocG8c.KKjvXb,
  .oKubKe[aria-selected="true"],
  .z80M1.FwR7Pc {
    color: #fff !important;
    filter: invert(0.2) !important;
  }
  .C0oVfc .RveJvd,
  .C188rb,
  .Cd9hpd .NlWrkb,
  .CflnFb,
  .DJmpu,
  .DN1TJ,
  .Dna1ee,
  .GgNG3d,
  .HLI7qf .c7fp5b,
  .JunSsb,
  .KaL5Wc,
  .MmhHI.N4XV7d,
  .MocG8c,
  .NkK3Fc span[role="heading"],
  .O0WRkf.RDPZE,
  .PNenzf,
  .QA0Szd-xl07Ob .uyYuVb,
  .QpG80,
  .ThdJC,
  .YTCBlf,
  .Z7IIl,
  .aStPEd,
  .cuBluc,
  .g3dbUc.smECzc,
  .gPMPbe,
  .gb_9e,
  .gb_Pe.gb_6e .gb_7e,
  .gb_Ta svg,
  .gb_ge,
  .gb_ge.gb_le,
  .gb_he.gb_me,
  .gb_ie,
  .gb_ie.gb_ne,
  .gb_lc svg,
  .hGcgEd,
  .iJNNw,
  .j3nyw,
  .m9xvCf,
  .nxPHec,
  .oPF3Ce,
  .t3Qf0e,
  .uOjlA,
  .wqqJUb,
  .z80M1 {
    color: #ccc !important;
  }
  .BYXlo,
  .PbnGhe,
  .s9eZvd,
  .srd2n {
    color: #999 !important;
  }
  .ETUnje,
  .GrK4Mb,
  .PqAscf,
  .T8CF3c,
  .Xo3rO,
  .Zlotdb + .FYEgid .XQINac,
  .cBs4Te,
  .gssb_e,
  .hEtGGf,
  .hVDHke,
  .l7VQxb,
  .lzc0vb,
  .mrslJ,
  .qNixLe,
  .qZvm2d-clz4Ic,
  .uJ4w1,
  .xuBVOe,
  body[data-viewfamily="EVENT"] .SGWAac,
  body[data-viewfamily="EVENT"] .TOTjfb,
  body[data-viewfamily="SEARCH"] .SGWAac,
  body[data-viewfamily="SEARCH"] .TOTjfb {
    border-color: #333 !important;
  }
  .z80M1.N2RpBe::before {
    border-right-color: #ccc !important;
    border-bottom-color: #ccc !important;
  }
  .BWsMTe,
  .G5v83e,
  .GENA3c,
  .H7IzGb,
  .SU7tYb,
  .SULbR,
  .YvjgZe,
  .eADW5d,
  .mmsF1c:after,
  .qb8AF,
  .qgbr2b {
    border-color: #555 !important;
  }
  .B8NVZb,
  .BvQsje,
  .JtukPc,
  .NBzXR,
  .SU7tYb.F262Ye,
  .Uit9Se,
  .eh5oYe .GFiTfe .uj9dId,
  .j0nwNb .eh5oYe .eADW5d,
  .j0nwNb .eh5oYe .yEkOpe,
  .v83gc {
    background-color: #333 !important;
  }
  .asor_o,
  .gsoi_0,
  .uSx8Od {
    filter: invert(0.9) !important;
  }
  .gb_Xa svg,
  .gb_oc svg {
    color: #fff !important;
  }
  .LokBre .GrK4Mb,
  .LokBre .hVDHke,
  .LokBre .l7VQxb,
  .LokBre .zP0T0b,
  .iLpjNc {
    background-color: #63633f !important;
  }
  .NAFvr,
  .U0vptb,
  .gb_Pe.gb_6e {
    background-color: #333 !important;
  }
  .gssb_m {
    color: #ccc;
    background: #222;
  }
  .KSxb4d.N4XV7d.RKLVef:hover,
  .KSxb4d.RKLVef:hover,
  .gssb_l,
  body.geSgge .KSxb4d.N4XV7d.RKLVef:hover,
  body.geSgge .KSxb4d.RKLVef:hover {
    background: #333 !important;
  }
  .YvjgZe.F262Ye:after {
    background-color: rgba(0, 188, 212, 0.02);
  }
  .Qfwgwb {
    background-color: #222 !important;
  }
  #aso_search_form_anchor > div > input,
  .LV4Pme {
    color: #ccc !important;
  }
  .GrxScd .g3dbUc.smECzc:focus,
  .ZGVUP:hover,
  .g3dbUc.LKeQwe,
  .g3dbUc.smECzc.KKjvXb,
  .mKdssd {
    background-color: #555;
  }
  .ZGVUP,
  .g3dbUc.LKeQwe {
    border-color: #555 !important;
  }
  .W0m3G.i8dSE .r4nke {
    color: #fff !important;
    background-color: #6b7686 !important;
  }
  .OWyNBb.m1fiJb {
    background-color: #212b35 !important;
    border-color: transparent !important;
    color: #ccc !important;
  }
  .GENA3c,
  .Gk2izd,
  .brC-brG-Jz-bBA,
  .brC-brG-avC,
  .g3VIld,
  .q1j8lf {
    background: #111 !important;
  }
  .AKhndf,
  .G5v83e,
  .GrxScd .kMp0We.n2fNkc,
  .GrxScd .kMp0We.u3bW4e,
  .GrxScd .kMp0We:focus,
  .IIB0tc .ULpymb,
  .JPdR6b,
  .KwL08c.kMp0We,
  .KwL08c > .kMp0We,
  .SaBhMc,
  .W0m3G .r4nke,
  .dKHeGf,
  .kMp0We.Wm6kRe:hover,
  .kMp0We.gk6SMd,
  .oFBMuc:hover,
  .rF3YF.u3bW4e,
  .rF3YF:hover {
    background-color: #333 !important;
  }
  .Erb9le:not(.RDPZE) .qmMNRc.y7OZL {
    background-color: #111;
  }
  .uHMk6b {
    border-color: #222 !important;
  }
  .Gk2izd {
    border-right: 0;
    border-bottom-color: #333 !important;
  }
  .brC-brG-avC,
  .cBs4Te.ZmuLbd,
  .zIq8Wc.JhZbF {
    border-color: #333 !important;
  }
  .MSZkRb .r4nke,
  .Mfdus .iuaqab,
  .WpDZC,
  .iMprOe,
  .n1rxgc,
  .qmMNRc,
  .whsOnd {
    color: #aaa !important;
  }
  .MANBAf,
  .NI2kfb,
  .YK7obe .yzYBvd,
  .kap9Ye,
  .pCoqfc,
  .rSoRzd,
  .u5sQsb,
  .uQ1ixe .snByac {
    color: #ccc !important;
  }
  .K2mXPb,
  .brC-brG-avC-bta-atM .brC-brG-avC-bBo-JX,
  .rF3YF {
    color: rgba(255, 255, 255, 0.54) !important;
    fill: rgba(255, 255, 255, 0.54) !important;
  }
  #Aeh9bb,
  .rL6ose {
    filter: invert(0.9) !important;
  }
  .hEtGGf::after {
    display: none !important;
  }
  .WefNYe:before,
  .xpYref {
    background-color: #111 !important;
  }
  .MDfQ7,
  .xWId8e {
    background-color: #222 !important;
  }
  .cAYGed.KKjvXb .BMQm1d,
  .cAYGed.KKjvXb .Ioup7e {
    background-color: #444 !important;
  }
  .mfcZZc + .mfcZZc,
  body[data-viewfamily="SETTINGS"] .SGWAac,
  body[data-viewfamily="TRASH"] .SGWAac {
    border-color: #333 !important;
  }
  .O1gyfd {
    color: #ccc !important;
  }
  .HLAc8,
  .oj6B2e {
    color: #999 !important;
  }
  .Kb2sf,
  .jZ0DTb.kM7Sgc .ry3kXd .LMgvRb.KKjvXb {
    background: rgba(0, 0, 0, 0.2) !important;
  }
  .uVccjd {
    border-color: #777;
  }
  .DaQ2rc::before {
    background-color: #555 !important;
  }
  .a0xMze.T8M5bd::after {
    display: none !important;
  }
  .L1Ysrb,
  .d3Ig7c {
    border-color: #333 !important;
  }
  .dtaVuc.FwR7Pc {
    background-color: #333 !important;
  }
  .dtaVuc,
  .taTyDe {
    color: #999 !important;
  }
  .EgH9k .JAPzS,
  .O3EOA {
    color: #ccc !important;
  }
  .jRJqje {
    background: #333 !important;
  }
  .KSxb4d.pCcXPe,
  .qAeuG,
  .qAeuG.N4XV7d,
  .qAeuG.pCcXPe,
  body.geSgge .KSxb4d.pCcXPe {
    color: #fff !important;
  }
  .wWdzec {
    background-color: #333 !important;
    color: #ccc !important;
  }
  .J2aUD.T8M5bd .qmFsL::after,
  .J2aUD.T8M5bd .qmFsL::before,
  .J2aUD.T8M5bd .sx5BGe::before,
  .JE11kf.FEiQrc .xsOpqe,
  .SGFqbe.T8M5bd .qmFsL::after,
  .SGFqbe.T8M5bd .qmFsL::before,
  .SGFqbe.T8M5bd .sx5BGe::before,
  .xsOpqe {
    display: none !important;
  }
  .EdAri {
    border-color: transparent !important;
  }
  .j0nwNb .eh5oYe .eADW5d,
  .j0nwNb .eh5oYe .yEkOpe {
    border-color: #555 !important;
  }
  .XnnJrc.Wyo4Qe .TKMrfe,
  .akJTWe {
    background-color: #212b35 !important;
    color: #ccc !important;
  }
  .tNDBE {
    background-color: #222 !important;
  }
  .PhLhOd,
  .QIadxc,
  .XnnJrc.Wyo4Qe,
  .akJTWe,
  .t8qpF {
    border-color: #555 !important;
  }
  .YK7obe {
    color: #ccc !important;
  }
  .ecKr0,
  .ef2wWc {
    background-color: #23252b !important;
  }
  .eADW5d {
    border-right: 0;
  }
  .QJLQUd {
    color: #ccc !important;
  }
  .Cd9hpd,
  .GXlaye.qRI4pc,
  .qmv2fc.KKjvXb,
  .qmv2fc.kaAt2:hover {
    border-color: #333 !important;
    background-color: #333 !important;
  }
  .Cd9hpd .mAozAc.iWO5td,
  .Cd9hpd:hover .mAozAc.u3bW4e {
    background: #777 !important;
  }
  .nYqxP {
    color: #ccc !important;
  }
  .ONKrsd-jrnDlb-LgbsSe-FNFY6c .ONKrsd-jrnDlb-Bz112c-haAclf,
  .ONKrsd-jrnDlb-LgbsSe-ZmdkE .ONKrsd-jrnDlb-Bz112c-haAclf,
  .tVqNxd {
    background-color: #333;
  }
  .cOoA8d {
    border-color: #333 !important;
  }
  .jgtV4b {
    color: #ccc !important;
  }
  .Kk7lMc-DWWcKd-OomVLb-haAclf {
    background-color: #222 !important;
    border-color: #333 !important;
  }
  .eU5T0b {
    background-color: #222 !important;
    color: #ccc !important;
  }
  .Kk7lMc-Ia7Qfc-CZjX4e
    .Kk7lMc-QWPxkf-LgbsSe.DWWcKd-OomVLb-LgbsSe-barxie
    .DWWcKd-OomVLb-LgbsSe-Bz112c-haAclf,
  .Kk7lMc-QWPxkf-LgbsSe.DWWcKd-OomVLb-LgbsSe-barxie
    .DWWcKd-OomVLb-LgbsSe-Bz112c-haAclf,
  .Kk7lMc-ae3xF-bN97Pc-LYNcwc,
  .Kk7lMc-ae3xF-tJHJj {
    background-color: #111 !important;
  }
  .Kk7lMc-DWWcKd-OomVLb-hgDUwe,
  .Kk7lMc-ae3xF-tJHJj {
    border-color: #333 !important;
  }
  .Kk7lMc-ae3xF-tJHJj-CZjX4e-AHe6Kc .Kk7lMc-ae3xF-tJHJj-OAU7Vd-Bz112c {
    fill: #fff !important;
  }
  .DWWcKd-OomVLb-LgbsSe-Bz112c-haAclf {
    background-color: transparent !important;
  }
}
