@-moz-document url-prefix("https://photos.google.com/") {
  .YisXab,
  .YisXab::after,
  .ajQY2,
  .gN5aAe,
  .n4Bzf,
  .uGCjIb {
    background-color: #111 !important;
  }
  .GJuUre {
    background-color: transparent !important;
  }
  .CqtWH,
  .G7ubtf,
  .GJuUre,
  .Qizfvf,
  .Y596od,
  .YHjolb,
  .aDUoef,
  .eLFytf,
  .gb_Ta svg,
  .gb_lc svg,
  .nUvEGb,
  .obNJBf.wH28vf > .lEclge,
  .vUbGoc {
    color: #ccc !important;
  }
  .SqxZMb,
  .ZEmz6b,
  .bCPWJc,
  .hcClrf,
  .k4Or1e,
  .zKT0yd {
    color: #999 !important;
  }
  .d1Z6ve,
  .lDDKpd .GJuUre {
    border-color: #333 !important;
  }
  .y4CbTd {
    filter: invert(0.8) brightness(1.25) !important;
  }
  .XKNPOc,
  .ZgMovb {
    filter: invert(0.92) grayscale(1) !important;
  }
  .dVHaXd {
    fill: #ccc !important;
  }
  .DOAbib .HLOCEe,
  .R4HkWb .orgUxc {
    fill: #999 !important;
  }
  .DOAbib .HLOCEe,
  .obNJBf.wH28vf {
    color: #999 !important;
  }
  .yUnLie .HPN91c {
    background-color: #111 !important;
  }
  .yUnLie .ifyeLb {
    background-color: #111 !important;
  }
  .Vskceb,
  .WjwBXd,
  .rtIMgb.WjVZdb {
    background-color: #333 !important;
  }
  .AR12ke .up0e5,
  .KfmeTb .up0e5,
  .UzoGpd .up0e5,
  .mIszjc .up0e5,
  .nHTGHe .up0e5,
  .qyRYS .up0e5 {
    background-color: #ddd !important;
  }
  .HrGXnb {
    background-color: #333;
    color: #ccc;
  }
  .pbgrIf {
    background: #ffffff4d !important;
  }
  .JUQOtc > path:nth-of-type(2) {
    fill: #444 !important;
  }
  .mKslXd,
  .qjYJaf > .JUQOtc > circle:nth-of-type(3) {
    fill: #ccc !important;
  }
  .Ax4B8,
  .Fmedib,
  .NLiuKe,
  .VOEIyf .jBmls,
  .VwKkye .Ax4B8,
  .VwKkye .MkjOTb,
  .VwKkye .yNVtPc,
  .WLLPqb,
  .biyFUd,
  .qYQJEe {
    background-color: #111 !important;
  }
  .Fmedib,
  .VwKkye .Ax4B8,
  .VwKkye .MkjOTb,
  .VwKkye .yNVtPc,
  .WLLPqb,
  .biyFUd,
  .cV5sed,
  .o7Osof .oJeWuf,
  .q20Fs,
  .qJ3sed,
  .sRtKQc,
  .uzZVYe .ZAGvjd {
    color: #ccc !important;
  }
  .CMRsVd,
  .FJuSM,
  .FtiXNe,
  .LzExud,
  .bArwR,
  .egWY1b,
  .vVyGvc {
    color: #999 !important;
  }
  .VOEIyf .jBmls,
  .lDDKpd .hi7xwe .Fmedib::after,
  .lDDKpd .hi7xwe .biyFUd::after {
    border-color: rgba(255, 255, 255, 0.06) !important;
  }
  .oKubKe[aria-selected="true"] {
    background-color: #333 !important;
  }
  .lEnAO .Vm8UPe:nth-child(2) {
    border-color: #bbb !important;
  }
  .ajQY2:hover,
  .uzZVYe {
    border-color: #333 !important;
  }
  .H6CuKe,
  .Vm8UPe .jBOzbf:nth-child(2),
  .b98gu {
    border-color: #444 !important;
  }
  .PcxEPe .o11zad.QuQCEd {
    background-color: #ddd !important;
  }
  .QuQCEd,
  .jBOzbf {
    filter: invert(1) !important;
  }
  .yUnLie .QuQCEd {
    filter: invert(0) !important;
  }
  .SUBPBe {
    fill: #fff !important;
  }
  .w1zVpf {
    background-color: #222 !important;
  }
  .IGdgBf,
  .UtdETd {
    color: #ccc !important;
  }
  .QfyHQc,
  .X0f2Ie {
    border-color: #333 !important;
  }
  .fJdjDd {
    background-color: #00000080;
  }
  .z80M1.qs41qe > .aBBjbd {
    background-image: radial-gradient(
      circle farthest-side,
      #444,
      #333 80%,
      transparent 100%
    );
  }
  .zn4jxc {
    background-color: #ffffff40 !important;
  }
  .zn4jxc.auswjd {
    background-color: #ffffff80 !important;
  }
  .eIXhfb,
  .fL7mK,
  .l3VoRe,
  .uzZVYe .ZAGvjd {
    background-color: #111 !important;
  }
  .rPYW7c,
  .vOSR6b {
    background-color: #222 !important;
  }
  .DDjkec,
  .EloWjf,
  .RDcEuc,
  .YD532b,
  .ux71Ae,
  .ux71Ae .zgKCg,
  .xaNQyd,
  .xaNQyd.QWDSNc .FIroPe,
  .xaNQyd.kOygNb .FIroPe {
    background-color: #222 !important;
  }
  .CJS7t,
  .fT2itf {
    background-color: #333 !important;
  }
  .FfYVOe,
  .GYJCSd,
  .URCQde,
  .aP5QJc,
  .aizgoc,
  .cgzas,
  .hAt1wf,
  .lY31xf,
  .sWtJyb,
  .sd2Ow,
  .tRTVSe,
  .uIkos,
  .xaNQyd.QWDSNc .FIroPe,
  .xaNQyd.kOygNb .FIroPe,
  .ycKFmf {
    color: #ccc !important;
  }
  .B4aYDd,
  .MrNxgf,
  .NYjpld,
  .b25S2,
  .c74zIe,
  .jMchje,
  .p4Vk3b,
  .yfPIJb {
    color: #999 !important;
  }
  .saCYpf,
  .uAJfId .tEQo7b,
  .yMuq9d {
    border-color: #333 !important;
  }
  .ZCdsle .JUQOtc {
    background-color: #000 !important;
  }
  .IobPkb {
    border-color: #000 !important;
  }
  .O0WRkf.RDPZE,
  .URCQde .JUQOtc,
  .XpJyv .JUQOtc,
  .k5gjFc .JUQOtc {
    fill: #ccc !important;
  }
  .O0WRkf.RDPZE {
    color: #ccc !important;
  }
  .eXETU {
    color: #333 !important;
    fill: #333 !important;
  }
  .eXETU:hover {
    color: #000 !important;
    fill: #000 !important;
  }
  .wDSX5e {
    background-color: #111 !important;
  }
  .w8iOwc {
    color: #ccc !important;
  }
  .wDSX5e .DOAbib:not(.Mph3Hc):hover,
  .wDSX5e .ixImeb {
    background-color: #333 !important;
  }
  .R4TmW {
    border-color: #333 !important;
  }
  .AALQVb .qRUolc,
  .HO7xJe .tOrNgd,
  .J9Ecvd,
  .JPdR6b,
  .MJbBo,
  .Q77Pt,
  .VXm1O,
  .YmYVQb,
  .g3VIld,
  .hi7xwe .I6u9xf,
  .oIsNpe,
  .rfwMZb,
  .tn9hcb,
  .uFjcbe,
  .uj0V6 {
    background-color: #111 !important;
  }
  .KefOhc {
    border-bottom-color: #111 !important;
  }
  .hUsHhf,
  .hi7xwe.hmrFhe.hi7xwe .I6u9xf::after {
    background-color: #222 !important;
  }
  .AJM7gb,
  .AhOMTc,
  .CBDf0d,
  .Gsdthc,
  .LAL5ie .ZAGvjd,
  .QYqedb,
  .QehGzf,
  .R9U8ab,
  .UE0Rp,
  .WBfbmd,
  .WUbige,
  .Y95CAf,
  .Yzdhqd,
  .Z9Az9,
  .ajkHac,
  .eSqCae,
  .mfQCMe,
  .mplJGb,
  .nzRLqf,
  .pRVpNc,
  .x1LMef,
  .y3l11d,
  .z7JNmd,
  .z80M1 {
    color: #ddd !important;
  }
  .BnQsec,
  .CgsFie,
  .DBqj8c,
  .HNIQU .KHxj8b,
  .LGbbwe .fROdt,
  .NW8xMc,
  .UV4Xae,
  .nAfFgf,
  .nNzTX,
  .oBMhZb,
  .wiOkb,
  .wjDi1d,
  .xMZSRb {
    color: #999 !important;
  }
  .F6wuZ,
  .HCTovb,
  .Y0p3Ue,
  .fKz7Od,
  .pUgVcb .ry3kXd .ynCJHe,
  .ynCJHe.pGuBYc {
    fill: #ccc !important;
  }
  .fKz7Od {
    filter: invert(0) !important;
  }
  .PCdOIb {
    filter: invert(0.9) !important;
  }
  .AhOMTc,
  .IBP7ye,
  .Kd04rd:hover,
  .UABzH.sMVRZe:after,
  .UABzH.sMVRZe:before,
  .UABzH:not(.sMVRZe) .Grpoof:hover > .ZFr60d,
  .aHPraf,
  .iO7J1d:hover,
  .uOat3d .iO7J1d:focus,
  .z80M1.FwR7Pc {
    background-color: #333 !important;
  }
  .M1aIec {
    border-bottom-color: #111 !important;
  }
  .hi7xwe .I6u9xf::before,
  .oIsNpe,
  .uFjcbe,
  .yPBite {
    border-color: #333 !important;
  }
  .e2CuFe {
    border-color: #777 transparent !important;
  }
  .Cv8Rjc {
    background: 0 0 !important;
  }
  .vI9sif {
    background: rgba(0, 0, 0, 0.8) !important;
  }
  .O1Wnce {
    background-color: #222;
    background-image: linear-gradient(
        90deg,
        #333 0,
        transparent 0,
        transparent 294px,
        #333 294px,
        #333
      ),
      linear-gradient(
        0deg,
        #333 0,
        transparent 0,
        transparent 220px,
        #333 220px,
        #333
      );
  }
  .nCD66e {
    display: none !important;
  }
  .VfPpkd-WsjYwc,
  .zEszRd {
    background-color: #222 !important;
  }
  .Ja4Wfd,
  .Yyy4Hc,
  .mSbCD {
    color: #ccc !important;
  }
  .CrDAje,
  .Usd1Ac,
  .lDDKpd .ajQY2 {
    border-color: #333 !important;
  }
  .Aul2T .cI2tlc .ZAGvjd,
  .SHkfld,
  .Xedy9e,
  .fl9QFd,
  .rWyLGb,
  .xA0gfb {
    color: #ddd !important;
  }
  .C96I0d,
  .EIug8e,
  .HiceN,
  .KmTyub,
  .P72lEd,
  .RwVyJb,
  .USUr0d {
    color: #999 !important;
  }
  .FBoeXc.vOSR6b,
  .QtDoYb,
  .RJMJ9b {
    background: #222 !important;
  }
  .Aul2T,
  .B6Rt6d,
  .PpML1d,
  .ZMOaid.uGCjIb,
  .xoqcGf.DKHcHb .Aul2T {
    background: #111 !important;
  }
  .AAF8rf {
    filter: invert(1) !important;
  }
  .DOAbib .xMAzlb {
    color: rgba(255, 255, 255, 0.44) !important;
    font-size: 11px !important;
  }
  .Afhsje,
  .C96I0d .JUQOtc,
  .DOAbib .JUQOtc,
  .G6iPcb .JUQOtc,
  .UcZrVc,
  .UcZrVc .OLQnJe,
  .UcZrVc .w9e2Mc,
  .ZSB8G {
    fill: rgba(255, 255, 255, 0.54) !important;
  }
  .UcZrVc .Qfrpne {
    stroke: rgba(255, 255, 255, 0.54) !important;
  }
  .ixImeb .JUQOtc,
  .ixImeb .xMAzlb {
    fill: #3883ff !important;
    color: #3883ff !important;
  }
  .cJzOGc,
  .cJzOGc.Fuybue:visited {
    color: #30b35a !important;
  }
}
