@-moz-document url-prefix("https://tasks.google.com") {
  .CTxcDf,
  .g3VIld,
  .oxAbDf,
  body {
    background-color: #252525 !important;
  }
  .OyPDvb,
  .UXfMHb,
  .blBtle,
  .fKz7Od {
    color: #9c9c9c !important;
  }
  .UhNUGe {
    background-color: #333 !important;
  }
  .UhNUGe:focus,
  .UhNUGe:hover {
    background-color: #555 !important;
  }
  .JPdR6b,
  .Nm5pwe .lzIjk .LMgvRb,
  .PZqXCe,
  .U1lyme .oJeWuf,
  .XKxdVe,
  .cbcjjb,
  .g3VIld .rFrNMe .aXBtI,
  .kpuJe,
  .ncFHed,
  .nnsg6 {
    background-color: #3e3e3e !important;
  }
  .AY4Dce:not(.sMVRZe),
  .Sze5Fc,
  .XKxdVe,
  .bKwVmd.DuSr9b,
  .cbcjjb,
  .kpuJe::before,
  .oXBvod.MdU9l:not(.sMVRZe),
  .oxAbDf::before {
    border-color: #333 !important;
  }
  .Sze5Fc,
  .Wde9Bc:not(.CWc3Zb) .BjZULd::after {
    background-color: #333 !important;
  }
  .C0oVfc .RveJvd,
  .PNenzf,
  .RaWQkc,
  .RwybPd,
  .SltZ5e .NlWrkb,
  .V9NiMc,
  .WBaDKd .uyYuVb,
  .cbcjjb,
  .l2rb3b,
  .lzIjk .LMgvRb,
  .mZwRef,
  .oXBvod.MdU9l .Sze5Fc,
  .pRU5He,
  .qpGJsd,
  .rhGwLe,
  .tL9Q4c,
  .wYwLFe,
  .z80M1,
  .zHQkBf {
    color: #ccc !important;
  }
  .fKz7Od {
    fill: #ccc !important;
  }
  .FmNPqf {
    background-color: #252525 !important;
    color: #ccc !important;
  }
  .FuZZcf {
    stroke: rgba(255, 255, 255, 0.54);
  }
  .z80M1.N2RpBe::before {
    border-right-color: #ccc !important;
    border-bottom-color: #ccc !important;
  }
  .z80M1.FwR7Pc {
    background-color: #333 !important;
    filter: invert(0.2) !important;
  }
  .Nm5pwe .lzIjk .LMgvRb {
    background: #1b1b1b;
  }
  .vyISr {
    filter: invert(0.7) !important;
  }
  .B9yICe {
    background-color: #252525 !important;
    border-color: #333 !important;
  }
  .azMWHd .uyYuVb {
    color: #ccc !important;
  }
  ::-webkit-scrollbar-thumb {
    background: #252525 !important;
  }
}
